<% @opinions.each do |opinion| %>
  <div class="talk">
    <div class="talker">
      <%= opinion.user.name.truncate(7, omission: '…') %>
      <div>
      <% if opinion.user_id == current_user.id %>
        <%= link_to '削除', opinion, method: :delete, data: { confirm: '本当に削除しますか？' }%>
      <% end %>
      </div>
    </div>
    <div class="talk-Ltxt">
      <p class="talk-text"><%= opinion.content %></p>
    </div>
  </div>
<% end %>