<div class="card border-info mt-3 text-center">
  <div class="card-body text-info omikuji-card">
    <p class="omikuji-card-title pc_area">
      <i class="fab fa-earlybirds" style="color:salmon;"></i>運勢【<%= @omikuji.result %>】<br>
       <%= @omikuji.content %>
    </p>
    <p class="omikuji-card-title phone_area">
      <i class="fab fa-earlybirds" style="color:salmon;"></i>運勢【<%= @omikuji.result %>】
       <%= @omikuji.content %>
    </p>
  </div>
</div>