<div class="card border-info mt-3 text-center">
  <div class="card-header">おみくじの結果</div>
  <div class="card-body text-info">
    <h5 class="card-title"><%= @omikuji.result %></h5>
    <p class="card-text"><%= @omikuji.content %></p>
  </div>
</div>
<div class="text-center">
  <%= link_to '戻る', root_path, class:"btn btn-outline-secondary mx-auto  btn-sm" %>
</div>