<div class="center jumbotron">
  <div class="text-center">
    <h1>Groupsとは？</h1>
    <p>趣味の集まりやスポーツ団体など、グループの情報共有サイトです。</p>
    <p>グループのメンバー、グループの予定、お知らせを共有できます。</p>
    <br>
    <div class="card-center about">
      <p>参加グループ一覧</p>
      <img src="/top.png" alt="">
    </div>
    <br>
    <br>
    <div class="card-center about">
      <p>お知らせ一覧</p>
      <img src="/usertop.png" alt="">
    </div>
    <br>
    <br>
    <div class="card-center about">
      <p>メンバー一覧</p>
      <img src="/members.png" alt="">
    </div>
    <br>
    <br>
    <div class="card-center about">
      <p>予定一覧</p>
      <img src="/plans.png" alt="">
    </div>
  
      
      <%= link_to signup_path, class: 'btn btn-lg btn-primary mt-5' do%>
       <i class="far fa-hand-point-right faa-horizontal animated"></i> 新規登録はこちら
      <% end %>
  </div>
</div>