<% content_for :title do %>
  Groups | 便利な使い方 無料グループウェア スケジュール管理 予定 出欠 お知らせ 情報共有
<% end %>
<h4 class="text-center">便利な使い方</h4><br>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          【新規登録 → グループ作成・参加まで】
        </a>
      </h5>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>「新規登録」ボタンからユーザー登録。</li>
          <li>「グループを作成」ボタンからグループを登録。</li>
          <li>グループに加入してもらうユーザーに、「グループ名・グループID」を伝える。</li>
          <li>参加するユーザーは、「グループに参加」ボタンから3.の情報をもとに参加。</li>
        </ol>
      </div>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          【お知らせ機能】
        </a>
      </h5>
      <p><i class="far fa-lightbulb" style="color:gold;"></i>グループメンバーへのお知らせを登録できます。</p>
    </div>
    <div id="collapse2" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>グループトップページ、「お知らせ登録」ボタンから登録。</li>
          <li>詳細はお知らせ一覧のタイトルから確認できます。</li>
          <li>編集・削除したい場合は、詳細ページ下部のボタンから、編集・削除ができます。</li>
        </ol>
      </div>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          【打合せ機能】
        </a>
      </h5>
      <p><i class="far fa-lightbulb" style="color:gold;"></i>グループメンバーに意見を求められます。<br>
                                                              議題についての意見をまとめられるので、SNSでよくある、
                                                              話題が変わって内容が見つからないなどを防ぎます。</p>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>グループトップページ、「打合せ項目登録」ボタンから登録。</li>
          <li>打合せ項目一覧のタイトル部のリンクから、意見を登録できます。</li>
          <li>編集・削除したい場合は、詳細ページ下部のボタンから、編集・削除ができます。</li>
        </ol>
      </div>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          【予定機能】
        </a>
      </h5>
      <p><i class="far fa-lightbulb" style="color:gold;"></i>グループメンバーと予定の共有・出欠確認ができます。</p>
    </div>
    <div id="collapse4" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>「予定タブ(上部のボタン)」→「予定登録」ボタンから登録。</li>
          <li>予定一覧の「出欠状況」欄のボタンで、「出席・欠席」を変更できます。</li>
          <li>出席予定者の確認は、予定一覧のタイトル→詳細ページから確認できます。</li>
          <li>編集・削除したい場合は、詳細ページ下部のボタンから、編集・削除ができます。</li>
        </ol>
      </div>
    </div>
  </div>
  <br>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          【会計情報機能】
        </a>
      </h5>
      <p><i class="far fa-lightbulb" style="color:gold;"></i>グループの会計情報を登録できます。</p>
    </div>
    <div id="collapse5" class="panel-collapse collapse in">
      <div class="panel-body">
        <ol>
          <li>「会計情報タブ(上部のボタン)」→「会計情報登録」ボタンから登録。</li>
          <li>詳細は摘要から確認ができます。</li>
          <li>各年(1~12月)の集計は、セレクトボックスで「年」をセレクト→「表示」ボタンから確認できます。</li>
          <li>編集・削除したい場合は、詳細ページ下部のボタンから、編集・削除ができます。</li>
        </ol>
      </div>
    </div>
  </div>
  <br>
</div>
<div class="text-right">
  <div class="btn btn-outline-secondary mx-auto">
    <%= link_to 'topに戻る', root_path %>
  </div>
</div>