<h4 class="text-center">Q&A</h4><br>

<h5>【ユーザ登録関連】</h5>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          <i class="fab fa-quora qcoler"></i>;&nbsp; 登録・利用にお金はかかりますか？
        </a>
      </h6>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; ご登録・ご利用は全て無料です。
      </div>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          <i class="fab fa-quora qcoler"></i>;&nbsp; 登録時の名前は本名で登録すべきですか？
        </a>
      </h6>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"><i class="fas fa-font acolor"></i>;&nbsp; 登録時のお名前は、本名でもニックネームでも問題ありません。グループのメンバー一覧などに表示されますので、グループのメンバーが誰か分かるもので登録してください。</div>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
          <i class="fab fa-quora qcoler"></i>;&nbsp; メールアドレスの登録は必須ですか？
        </a>
      </h6>
    </div>
    <div id="collapse3" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; 実際にご利用されているメールアドレスの登録が必須です。ログインやパスワードの再設定などで使用します。登録時、登録確認メールを groups.infomailer@gmail.com から送信していますので、受信できていない方は、受信できるように受信許可設定をしてください。
      </div>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
          <i class="fab fa-quora qcoler"></i>;&nbsp; パスワードを忘れた場合はどうしたらいいですか？
        </a>
      </h6>
    </div>
    <div id="collapse4" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; ログイン画面下部、【パスワードを忘れた方はこちら】から登録時のメールアドレスを入力し、再設定メールを受信し、メールに記載されたリンクからパスワードを再設定してください。<br>
groups.infomailer@gmail.com から送信しますので、受信できていない方は、受信できるように受信許可設定をしてください。
      </div>
    </div>
  </div>
  <br>

  <h5>【グループ機能関連】</h5>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
          <i class="fab fa-quora qcoler"></i>;&nbsp; グループ登録時のカテゴリーとはなんですか？
        </a>
      </h6>
    </div>
    <div id="collapse5" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; 特に決まりはありませんが、どんなグループか分かりやすいものを設定してください。<br>例：サッカー、お茶会、ツーリング部など
      </div>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
          <i class="fab fa-quora qcoler"></i>;&nbsp; グループに参加するには？
        </a>
      </h6>
    </div>
    <div id="collapse6" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; ログイン後のMyProfile下、【グループに参加】から『グループＩＤ』『グループ名』（グループ作成者にご確認ください）を入力すると参加できます。
      </div>
    </div>
  </div>
  
  <br>
    <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
          <i class="fab fa-quora qcoler"></i>;&nbsp; 過去の予定が登録できません。
        </a>
      </h6>
    </div>
    <div id="collapse7" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; 過去の予定は登録できない仕様になっています。なお、予定一覧に表示される予定も、前日以前の予定は表示されません。
      </div>
    </div>
  </div>
  <br>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
          <i class="fab fa-quora qcoler"></i>;&nbsp; 予定への出欠状況の更新方法は？
        </a>
      </h6>
    </div>
    <div id="collapse8" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; 予定一覧の出欠状況欄、【出席】【欠席】ボタンをクリックすると、【出席】の場合【欠席】に、【欠席】の場合【出席】に変更できます。
      </div>
    </div>
  </div>
  <br>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
          <i class="fab fa-quora qcoler"></i>;&nbsp; 予定への参加者を確認するには？
        </a>
      </h6>
    </div>
    <div id="collapse9" class="panel-collapse collapse in">
      <div class="panel-body">
        <i class="fas fa-font acolor"></i>;&nbsp; 予定一覧のタイトルリンクから、予定の詳細が表示され、下部に参加者と参加人数が表示されます。
      </div>
    </div>
  </div>
  <br>
</div>
<p>上記以外のお問い合わせがありましたら、サイト右下の「お問い合わせ」リンクよりお問い合わせください。</p>