/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
* {
	float: none;
	position: static;
}

img {
	max-width: 100%;
	height: auto;
} 
 
 

html {
    /* ルート要素の文字サイズを変更する */
    /*font-size: 14px;*/
    /* 基本の16px*0.625=10px */
     font-size: calc(62.5% + 0.5vw);
} 
 
 .home { 
  background:url(/main.jpg) center no-repeat; 
  background-size: contain;
 }
 
 body {
  /*font-family: Meiryo,Georgia;*/
  font-family: 'Kiwi Maru', serif;
  background-color: #ffffff;
  word-wrap: break-word;
 }
 body h1,h2,h3,h4,h5,h6 {
  font-family: 'Yusei Magic', sans-serif;
 }
 
 .container {
  max-width: 1200px;
 }
 
 header {
  background-color: #389696;
 }

/* Toppage(login前) */
.top-main {
 color: #248282;
 font-family: Hiragino Kaku Gothic ProN;
}
/*新規登録ほかbtn*/
.new-btn {
 background-color: white;
 opacity: 0.8;
 width: 60%;
}
.new-btn:hover {
 opacity: 1;
}
.join-btn {
 background-color: #1c9811;
 border-color: #1c9811;
 opacity: 0.8;
}
.join-btn:hover {
 background-color: #1c9811;
 border-color: #1c9811;
 opacity: 1;
}
.make-btn {
 background-color: #2297a0;
 opacity: 0.85;
}
.make-btn:hover {
 background-color: #2297a0;
 opacity: 1;
}

/*タイトル・サブタイトル*/
.top-title {
  padding: 50px 0;
}
.top-title p{
 font-size: 6rem;
 font-weight: bold;
}
.top-title span {
 position: relative;
 top: 45px;
 left: 45px;
 font-size: 1.1rem;
}
/*top about*/
.about {
 background:url(/about.jpg) center no-repeat; 
  background-size: cover;
}
.about img {
 width:5%;
}
@media screen and (max-width:480px) {
 .top-title {
  padding: 0 0;
 }
 .home {
  padding: 25px 0 70px 0;
  margin-bottom: 5px;
 }
 .top-title p{
  font-size: 45px;
 }
 .top-title span {
  position: relative;
  top: 25px;
  left: 20px;
  font-size: 10px;
 }
 .about img {
  width:7%;
 }
}

 .navcolor {
  background-color: white;
 }
 a.nav-linkactive {
  color: white;
  background-color: #389696;
  opacity: 0.9;
  display: block;
  font-size: 1.25rem;
 }

 /*予定とかのheight*/
 .c-height h5 {
  margin: 0;
 }
 @media screen and (max-width:480px) {
  .c-height {
   padding: 5px 15px;
  }
  .c-height h5 {
  margin: 0;
  font-size: 12px;
  }
 }
 .calendar {
  background-color: #ffffff;
 }
  @media screen and (max-width:480px) {
   .textsm {
    font-size: 0.626rem;
  }
}

 .card-margin {
  margin: 0.5rem ;
 }
 .table-style {
  margin: -0.2rem ;
  table-layout: fixed;
  font-size: 0.9rem;
 }
 @media screen and (max-width:480px) {
  .table-style img {
   width: 40%;
  }
 }
 
 /*Mygroup leftside*/
 @media screen and (max-width:480px) {
  .group-info {
   padding: 0 12px 0 12px;
  }
  .group-info img {
   width: 15%;
  }
 }
 
 /*Weather*/
 /*.weather {*/
 /* padding: 7px 10px 0 10px;*/
 /*}*/
 /* .weather img {*/
 /* width: 50%;*/
 /*}*/
 /*@media screen and (max-width:480px) {*/
 /* .weather_img_txt {*/
 /*  width: 25%;*/
 /*  padding: 0 0 0 50px;*/
 /* }*/
 /*}*/
 /*.weather_area {*/
 /* padding: 3px 15px;*/
 /*}*/
 
/*グループ一覧とこ*/
 .mg-left {
  margin-left: 20px;
  font-size: 12px;
 }

/*footer*/ 
 footer {
  background-color: #389696;
  color: white;
  padding: 0 1rem;
  margin-top: 1rem;
  height: 4rem;
  font-size: 0.75rem;
  vertical-align: middle
 }
 footer a {
  color: white; 
 } 
 footer a:hover {
  color: white; 
 } 
 .ft-left {
  display: inline-block;
  text-align: left;
  height: 2.5rem;
 }
 .ft-left li {
  margin-left: 0.625rem;
  line-height: 2.5rem;
 }
 .ft-right {
  display: inline;
  text-align: right;
 }
 
 
/*入力必須赤字*/
 .form-color {
  color: red;
  margin-left: 10px;
 }

/*吹き出し*/
 .css-fukidashi {
  padding: 0;
  margin: 0;
 }
 .mouseover {
  position: relative;
  transition: 0.5s;
 }
 .fukidashi-g {
  display: none;
  width: 160px;
  position: absolute;
  top: 5px;
  right: 60px;
  padding: 10px;
  border-radius: 5px;
  background: #008000;
  color: #fff;
  font-size: 11px;
  opacity: 0.6;
 }
 .fukidashi-g:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 70%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-top: 15px solid #008000;
}
 .mouseover:hover + .fukidashi-g {
  display:  block;
 }
 .fukidashi-r {
  display: none;
  width: 160px;
  position: absolute;
  top: 5px;
  right: 60px;
  padding: 10px;
  border-radius: 5px;
  background: #ff0000;
  color: #fff;
  font-size: 11px;
  opacity: 0.6;
 }
 .fukidashi-r:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 70%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-top: 15px solid #ff0000;
}
 .mouseover:hover + .fukidashi-r {
  display:  block;
 }
 
 /*Q&A*/
 .qcoler {
  color: red;
 }
 .acolor {
  color: blue;
 }
 
 .flash-center {
  text-align: center;
 }
 
/*-- PC版表示CSS  --*/
.pc_area{
  display:block;
}
.phone_area{
  display:none;
}

/*-- スマホ版表示CSS  --*/
@media screen and (max-width: 768px){
  .pc_area{
    display:none;
   }
  .phone_area{
    display:block;
   }
}

/*topサンプルイメージ*/
.about-images {
 display: flex;
}
.about-images2 {
 display: flex;
}

.arrow_box{
 margin: 1.1rem;
 position:relative;
 width:80%;
 height:1.5rem;
 background:#128A3D;
 text-align:center;
 border:2px solid #024C24;
 color:#FFFFFF;
 font-size: 0.85rem;
 border-radius:1.25rem;
 -webkit-border-radius:0.875rem;
 -moz-border-radius:0.875rem;
}
.arrow_box:after,
.arrow_box:before{
 border: solid transparent;
 content:'';
 height:0;
 width:0;
 pointer-events:none;
 position:absolute;
 top:100%;
 left:25%;
}
.arrow_box:after{
 border-color: rgba(18, 138, 61, 0);
 border-top-width:1rem;
 border-bottom-width:1rem;
 border-left-width:1rem;
 border-right-width:1rem;
 margin-left: -1rem;
 border-top-color:#128A3D;
}
.arrow_box:before{
 border-color: rgba(2, 76, 36, 0);
 border-top-width:1rem;
 border-bottom-width:1rem;
 border-left-width:1rem;
 border-right-width:1rem;
 margin-left: -1rem;
 margin-top: 0.125rem;
 border-top-color:#024C24;
}
.sample_image {
 width: 90%;
 margin: 1.1rem 1rem;
}
.sample {
 float: left;
 width: 33%;
}

/*会計マイナス赤字*/
.expense {
 color: red;
}

/*会計情報登録*/
.add_acount_button {
 display: inline-block;
 margin-bottom: 1rem;
}
.show_year {
 display: inline-block;
 margin-left: 2rem;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}

.add_items {
 justify-content: center;
}

/*打合せ機能吹き出し*/
p.talk-text {
 margin: 0 0 8px;
}

p.talk-text:last-child {
 margin-bottom: 0px;
}

/* 回り込み解除 */
.talk:after,.talk:before {
 clear: both;
 content: "";
 display: block;
}

/* ----- 左の場合 ----- */
/* 左からの吹き出しテキスト */
.talk-Ltxt {
 color: #444;
 width: 70%;
 position: relative;
 display: inline-block;
 padding: 1.2em;
 border: 3px solid #b8e3c1;
 background-color: #fff;
 border-radius: 5px;
}

/* 左の三角形を作る */
.talk-Ltxt:before {
 position: absolute;
 content: '';
 border: 10px solid transparent;
 border-right: 10px solid #b8e3c1;
 top: 15px;
 left: -20px;
}

.talk-Ltxt:after {
 position: absolute;
 content: '';
 border: 10px solid transparent;
 border-right: 10px solid #fff;
 top: 15px;
 left: -16px;
}
.talker {
 display: inline-block;
 margin-right: 5px;
 vertical-align: top;
 padding: 15px 0 0 0;
 width: 25%;
 text-align: right;
}
.talk {
 margin-top: 7px;
}

.center_card {
 padding: 0.5rem;
}
.center_card_img {
 width: 50%;
 height: auto;
}

.omikuji-card {
 padding: 0.25rem;
}
.omikuji-card-title {
 margin-bottom: 0;
}

/* グーグルマップ・レスポンシブレイアウト */
.gmap-wrap{
    position : relative;
    height : 0;
    padding-bottom : 56.25%; /* 縦横比の指定 */
    overflow : hidden;
}
 
.gmap-wrap iframe,
.gmap-wrap object,
.gmap-wrap embed{
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
}

.nowrap {
	white-space: nowrap;
}

.clubkatsudo {
 float: right;
 text-align: center;
 margin: 1rem;
 font-size: 0.8rem;
}