/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
html {
    /* ルート要素の文字サイズを変更する */
    font-size: 14px;
} 
 
 .home { 
   background:url(/main.jpg) center no-repeat; 
   background-size: contain;
 }
 
 .navcolor {
  background-color: white;
 }
 a.nav-linkactive {
  color: #191970;
  background-color: #afeeee;
  display: block;
  font-size: 20px;
 }

 
 body {
  font-family: Meiryo,Georgia;
  background-color: #f5fffa;
 }
 /*予定とかのheight*/
 .c-height {
  height: 45px;
 }
 
 .calendar {
  background-color: #ffffff;
 }
 

  @media (min-width: 500px) and (max-width: 600px) {
   .textsm {
    font-size: 11px;
  }
}

 .card-margin {
  margin: 0.5rem ;
 }
 .table-style {
  margin: -0.2rem ;
  table-layout: fixed;
  font-size: 10pt;
 }
 
 .about img {
  width: 80%;
 }
 
  .weather img {
  width: 70%;
 }
/*グループ一覧とこ*/
 .mg-left {
  margin-left: 20px;
  font-size: 12px;
 }

/*footer*/ 
 footer {
  margin-top: 10px;
  font-size: 12px;
 }
 .ft-right {
  float: right;
 }
 .ft-right li{
  display: inline;
  margin-right: 10px
 }
 .ft-center {
  clear: right;
 }
 
/*入力必須赤字*/
 .form-color {
  color: red;
  margin-left: 10px;
 }

/*吹き出し*/
 .css-fukidashi {
  padding: 0;
  margin: 0;
 }
 .mouseover {
  position: relative;
  transition: 0.5s;
 }
 .fukidashi-g {
  display: none;
  width: 160px;
  position: absolute;
  top: 5px;
  right: 60px;
  padding: 10px;
  border-radius: 5px;
  background: #008000;
  color: #fff;
  font-size: 11px;
  opacity: 0.6;
 }
 .fukidashi-g:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 70%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-top: 15px solid #008000;
}
 .mouseover:hover + .fukidashi-g {
  display:  block;
 }
 .fukidashi-r {
  display: none;
  width: 160px;
  position: absolute;
  top: 5px;
  right: 60px;
  padding: 10px;
  border-radius: 5px;
  background: #ff0000;
  color: #fff;
  font-size: 11px;
  opacity: 0.6;
 }
 .fukidashi-r:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 70%;
  margin-left: -15px;
  border: 10px solid transparent;
  border-top: 15px solid #ff0000;
}
 .mouseover:hover + .fukidashi-r {
  display:  block;
 }