<footer>
  <div class="ft-right">
    <ul class="nav">
      <li><%= link_to'利用規約', terms_path %></li>
      <li><%= link_to'プライバシーポリシー', privacy_policy_path %></li>
      <li><%= link_to'お問い合わせ', new_inquiry_path %></li>
    </ul>
  </div>
  <div class="ft-center my-4 text-center">
    <p>&#169; 2021 Groups</p>
  </div>
</footer>