<footer>
  <div class="ft-left">
    <ul class="nav">
      <li><i class="fas fa-greater-than"></i><%= link_to'利用規約', terms_path %></li>
      <li><i class="fas fa-greater-than"></i><%= link_to'プライバシーポリシー', privacy_policy_path %></li>
      <li><i class="fas fa-greater-than"></i><%= link_to'Q&A', question_path %></li>
      <li><i class="fas fa-greater-than"></i><%= link_to'お問い合わせ', new_inquiry_path %></li>
    </ul>
  </div>
  <div class="ft-right">
    <p>&#169; 2021 Groups</p>
  </div>
</footer>